.color_660000 {
    background-color: #660000;
}

.color_990000 {
    background-color: #990000;
}

.color_cc0000 {
    background-color: #cc0000;
}

.color_cc3333 {
    background-color: #cc3333;
}

.color_ea4c88 {
    background-color: #ea4c88;
}

.color_993399 {
    background-color: #993399;
}

.color_663399 {
    background-color: #663399;
}

.color_333399 {
    background-color: #333399;
}

.color_0066cc {
    background-color: #0066cc;
}

.color_0099cc {
    background-color: #0099cc;
}

.color_66cccc {
    background-color: #66cccc;
}

.color_77cc33 {
    background-color: #77cc33;
}

.color_669900 {
    background-color: #669900;
}

.color_336600 {
    background-color: #336600;
}

.color_666600 {
    background-color: #666600;
}

.color_999900 {
    background-color: #999900;
}

.color_cccc33 {
    background-color: #cccc33;
}

.color_ffff00 {
    background-color: #ffff00;
}

.color_ffcc33 {
    background-color: #ffcc33;
}

.color_ff9900 {
    background-color: #ff9900;
}

.color_ff6600 {
    background-color: #ff6600;
}

.color_cc6633 {
    background-color: #cc6633;
}

.color_996633 {
    background-color: #996633;
}

.color_663300 {
    background-color: #663300;
}

.color_000000 {
    background-color: #000000;
}

.color_999999 {
    background-color: #999999;
}

.color_cccccc {
    background-color: #cccccc;
}

.color_ffffff {
    background-color: #ffffff;
    color: @light_3;
    box-shadow: 0px 0px 1px 1px inset;
}

.color_424153 {
    background-color: #424153;
}

dropdown.flat>button:not(:checked):not(:hover) {
    background: transparent;
    box-shadow: none;
}
